{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
    {% for product in products %}
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <img class="item-img" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h3><a class="fw-bolder" href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                        <br>
                        <!-- Product price-->
                        <h4>${{ product.price }}</h4>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
